# Python
__pycache__/
*.pyc
.venv/
.env

# Node / Frontend
node_modules/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

.gitignore
backend/data/recommendations.csv
backend/data/users.csv
backend/processed/joined_filtered_6cols.csv
backend/processed/joined_full_6cols.csv
backend/processed/train_6cols.csv
backend/processed/test_6cols.csv
backend/processed/valid_6cols.csv